// Sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1 {
  @media #{$small-and-down} { font-size: 3rem; }
}

// Parallax
.parallax-container {
  height: 400px;
  .parallax {
    img {
      @media #{$small-and-down} { max-width: 225%; }
      @media #{$medium-and-up} { width: 100%; }
    }
  }
  .caption {
    padding-top: 2rem;
    text-shadow: 1px 2px color("grey", "darken-1");
    @extend .grey-text, .text-lighten-3;
    a {
      margin-top: 4rem;
      @media #{$small-and-down} { margin-top: 2rem; }
    }
  }
}

// Parallax white section
.section {
  .card {
    margin-top: 3rem;
    @extend .z-depth-0;
    .card-content {
      p {
        font-size: 1.2rem;
      }
    }
    .card-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.5rem;
      i, span {
        font-size: 2.5rem;
      }
    }
  }
}

// Container spacing
.containers {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

// Category image
.category-img {
  width: 32px;
  height: 32px;
  margin-right: 0.75rem;
}

// Collapsible
.collapsible {
  .collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .collapsible-body {
    font-size: 1.15rem;
  }
  .category-name {
    flex-grow: 1;
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

// Collection
.collection {
  .collection-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h5 {
      font-size: 1.5rem;
    }
  }
  .collection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px !important;
    .title {
      font-size: 1.2rem;
    }
    .charity-tagline {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 1rem;
    }
    .charity-cause {
      color: color("grey", "darken-1");
    }
  }
}

// Selected charities
.col.s10.charity-tagline {
  padding-left: 0;
  padding-right: 0;
}

// Payment form
.payment-section {
  margin-top: 4rem;
}
