// Sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

// Basic elements
h1 {
  @media #{$small-and-down} { font-size: 3rem; }
}

blockquote {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

button {
  margin-top: 20px;
}

// Navigation
.side-navbar-title {
  margin-left: 1.25rem;
}

// Parallax
.parallax-container {
  height: 400px;
  .parallax {
    img {
      @media #{$small-and-down} { max-width: 225%; }
      @media #{$medium-and-up} { width: 100%; }
    }
  }
  .caption {
    padding-top: 2rem;
    text-shadow: 1px 2px color("grey", "darken-1");
    @extend .grey-text, .text-lighten-3;
    a {
      margin-top: 4rem;
      @media #{$small-and-down} { margin-top: 2rem; }
    }
  }
  blockquote {
    background-color: rgba($primary-color, 0.3);
  }
  small {
    display: inline-block;
    float: right;
  }
}

// Parallax white section
.section {
  .card {
    margin-top: 3rem;
    @extend .z-depth-0;
    .card-content {
      p {
        font-size: 1.2rem;
      }
      @media #{$small-and-down} {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .card-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.5rem;
      i, span {
        font-size: 2.5rem;
      }
      i {
        color: $secondary-color;
        margin-left: 0.5rem;
      }
      span {
        color: $primary-color;
      }
    }
  }
}

// Container spacing
.containers {
  margin-top: 3rem;
  margin-bottom: 5rem;
  @media #{$small-and-down} {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

// Account profile
#account-profile,
#account-joined,
#account-charities,
#account-history {
  .collection-header {
    display: block;
    text-align: center;
    h4 {
      margin-top: 14px;
      margin-bottom: 14px;
      @media #{$small-and-down} { font-size: 1.75rem; }
    }
    .valign-wrapper {
      justify-content: center;;
    }
    i {
      font-size: inherit;
      margin-right: 0.5rem;
    }
  }
  .collection-item {
    display: block;
    padding-left: 20px !important;
    @media #{$medium-and-up} { font-size: 1.15rem; }
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .item-title {
      font-weight: 700;
      margin-bottom: 0;
      & + p {
        font-size: 1.1rem;
        margin-top: 0;
        @media #{$medium-and-up} { font-size: 1.25rem; }
      }
    }
  }
}

#account-profile {
  .collection-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    .account-name {
      height: 64px;
      text-align: left;
      margin-left: 0.75rem;
      h4, h5 {
        margin: 0;
      }
    }
    .profile-img {
      width: 64px;
      height: 64px;
      border-radius: 0.5rem;
    }
  }
}

#account-charities {
  .collection-item {
    font-size: 1.1rem;
    @media #{$medium-and-up} { font-size: 1.25rem; }
    .item-title {
      font-weight: 700;
      margin-bottom: 0;
      & ~ p {
        margin-top: 0;
        font-size: 1rem;
        @media #{$medium-and-up} { font-size: 1.15rem; }
      }
      & + p {
        margin-bottom: 0;
      }
    }
  }
}

#account-history {
  .collection {
    max-height: 548px; // Height of section header, table header, and 10 transactions
    overflow-y: scroll;
    @media #{$small-and-down} { max-height: 537px; }
    @media #{$large-and-up} { max-height: 561px; }
  }
}

// Account page table of contents
.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

// Category image
.category-img {
  width: 32px;
  height: 32px;
  margin-right: 0.75rem;
}

// Collapsible categories
.collapsible {
  .collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .collapsible-body {
    font-size: 1.15rem;
  }
  .category-name {
    flex-grow: 1;
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

// Collection charities
.collection {
  .collection-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h5 {
      font-size: 1.5rem;
    }
  }
  .collection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px !important;
    .title {
      font-size: 1.2rem;
    }
    .charity-tagline {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 1rem;
    }
    .charity-cause {
      color: color("grey", "darken-1");
    }
  }
}

// Selected charities
.col.s10.charity-tagline {
  padding-left: 0;
  padding-right: 0;
}

// Payment form
.payment-section {
  margin-top: 4rem;
}

// Flash messages
.row-messages {
  margin-bottom: 0;
  .flash-messages {
    font-size: 1.1rem;
  }
}
