<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">#4AGC</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {{#unless user}}
            <li><a href="/signin">Sign In</a></li>
            <li><a href="/signup">Sign Up</a></li>
          {{/unless}}
          {{#if user}}
            <li><a href="/logout">Logout</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </div>
  <ul class="side-nav" id="mobile-menu">
    <h5 class="side-navbar-title">Menu</h5>
    <hr>
    {{#unless user}}
      <li><a href="/signin"><i class="material-icons">account_box</i>Sign In</a></li>
      <li><a href="/signup"><i class="material-icons">redeem</i>Start Giving</a></li>
    {{/unless}}
    {{#if user}}
      <li><a href="/logout"><i class="material-icons">phonelink_off</i>Logout</a></li>
    {{/if}}
  </ul>
</header>
