<main>
  <div class="parallax-container">
    <div class="parallax"><img src="assets/img/img-top-instant.jpg" alt="Water pouring through open hands"></div>
    <div class="row container">
      <div class="caption center-align">
        <h1>Welcome to 4AGoodCause</h1>
        <h5>A Fast, Easy, and Secure way to donate to 4-Star Charitable Organizations</h5>
        <a href="/signup" class="btn waves-effect waves-light">Start Giving</a>
        <p>Three easy steps is all it takes to help</p>
      </div>
    </div>
  </div>
  <div class="section white">
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
              <div class="card-title">
                <span >Step</span>
                <i class="material-icons">looks_one</i>
              </div>
              <p>Sign up by clicking on the start giving button above. Begin by entering in your information and then provide an email address and password to keep your information safe.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
              <div class="card-title">
                <span >Step</span>
                <i class="material-icons">looks_two</i>
              </div>
              <p>Choose one or several categories such as Animals, Education, Health, Religion, etc. where you would to see 4-star charities as rated by Charity Navigator&trade;.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
              <div class="card-title">
                <span >Step</span>
                <i class="material-icons">looks_3</i>
              </div>
              <p>Select great causes to contribute to on a monthly basis. You can contribute as little as $2/cause using your credit card. You can change charities any time you like. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="assets/img/img-bottom-instant.jpg" alt="House toppled off cliff side after a hurricane"></div>
    <div class="row container">
      <div class="caption col m10 l8 offset-m2 offset-l4">
        <h5><blockquote>
          Kindness in words creates confidence. Kindness in thinking creates profoundness. Kindness in giving creates love.<br>
        </blockquote></h5>
        <small>Lao Tzu</small>
      </div>
    </div>
  </div>
</main>
