<form id="signup" name="signup" method="post" action="/signup">
  <label for="nameFirst">First Name</label>
  <input class="text" name="nameFirst" type="text" />
  <label for="nameLast">Last Name</label>
  <input name="nameLast" type="text" />
  <label for="gender">Gender</label>
  <input name="gender" type="text" />
  <label for="locationStreet">Street Address</label>
  <input name="locationStreet" type="text" />
  <label for="locationCity">City</label>
  <input name="locationCity" type="text" />
  <label for="StateAbbrev">State</label>
  <input name="StateAbbrev" type="text" />
  <label for="locationZip">Zip Code</label>
  <input name="locationZip" type="text" />
  <label for="email">Email</label>
  <input name="email" type="email" />
  <label for="phone">Phone</label>
  <input name="phone" type="text" />
  <label for="username">Username</label>
  <input name="username" type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  <input class="btn" type="submit" value="Sign Up" />
</form>
